<section>
    <form action="{{ path('form_submit') }}" method="post">
        <h2>Enter a website URL to create a word count.</h2>
        <input type="text" name="website_url" />
        <button type="submit">Submit</button>
    </form>
</section>
